body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 30px;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(27, 135, 185);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    border: none;
}

.buttons:hover{
    background-color: blue;
}
#mySubmit2{
    font-size: 1em;
}

h1{
    color: blue;
}
form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;

}

button{
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: hsl(0, 100%, 50%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;

}

#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(210, 100%, 60%);
}
button:active{
    background-color: hsl(210, 100%, 60%);
}

.numDice{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(red, blue);
    border-radius: 10px;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;

}

#myH1-2{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 184, 184);
}
#container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    margin-top: 20px;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px, 2px, 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;

}
#startBtn{
    background-color: hsl(115, 100%, 40%);
}

#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#stopBtn{
    background-color: hsl(7, 100%, 40%);
}

#stopBtn:hover{
    background-color: hsl(7, 100%, 30%);
}
#ResetBtn{
    background-color: hsl(214, 70%, 40%);
}

#ResetBtn:hover{
    background-color: hsl(214, 70%, 30%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100ox;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}